<form method="post" action="./newPartido">

    <input type="text" name="nombre_equipo">


    <input type="number" name="gol_local">


    <input type="number" name="gol_visitante">


    <input type="tel" name="puntaje">

    <input type="submit">

</form>