<form method="post" action="./newPartido">

    <input type="id_equipo" name="id_equipo">

    <input type="number" name="gol_local">

    <input type="number" name="gol_visitante">

    <input type="number" name="puntaje">

    <input type="number" name="id_figura">

    <input type="submit">

</form>